<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lvwanjie.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:testOnly="false"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".androidTest.other.filePath.TestAndroidPathActivity"
            android:exported="false" />

        <activity
            android:name=".androidTest.other.testScheme.SchemeTargetActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.lvwanjie.lab"
                    android:path="/path"
                    android:scheme="lab" />
            </intent-filter>
        </activity>
        <activity
            android:name=".androidTest.other.testScheme.TestSchemeActivity"
            android:exported="true" />
        <activity
            android:name=".androidTest.other.testH5.TestH5CameraActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.other.filePath.FileSaveActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.other.TestDecodeActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.widget.TestDrawable.TestSaveBitmapActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.widget.testWebview.TestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".androidTest.widget.TestDrawable.TestInsetDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.widget.testDialog.TestFloatWindowActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.widget.TestService.TestServiceTaskActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.other.testAnr.TestAnrActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.thirdLib.testEventBus.TestEventBusActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.thirdLib.testDagger.TestDaggerActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.widget.testViewStub.TestViewStubActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.widget.TestCircleImgActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.jetpack.testRoom.TestRoomActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.thirdLib.testExoPlayer.PlayerActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.other.testPath.TestPathActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.widget.testEditText.TestInputFilterActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.widget.testSp.TestSpActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.widget.testIntentService.IntentServiceActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.other.huapeng.HpActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.widget.testDialog.TestDialogActivity"
            android:exported="false"
            />
        <activity
            android:name=".androidTest.jetpack.TestViewModelActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".androidTest.thirdLib.testGlide.TestGlideActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".androidTest.thirdLib.testRetorfit.TestRetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.widget.testAsyncTask.TestAsyncTaskActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.thirdLib.testMMKV.TestMMKVActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.thirdLib.testOkhttp.OkHttpActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.other.whiteScreen.TestLaunchWhiteScreen"
            android:exported="false" />
        <activity
            android:name=".androidTest.thirdLib.TestLeakCanaryActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.widget.TestImageActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.other.aidltest.TestAidlActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.component.TestFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.widget.testListView.TestListViewActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.widget.testEditText.TestTextChangeActivity"
            android:exported="false" />
        <activity
            android:name=".androidTest.widget.testRecyclerView.TestRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".androidTest.other.testAnr.GenerateAnrService" />
        <service
            android:name=".androidTest.widget.testIntentService.MyIntentService"
            android:exported="false" />
        <service
            android:name=".androidTest.other.aidltest.TestBinderService"
            android:enabled="false"
            android:exported="false" />
        <service
            android:name=".androidTest.other.aidltest.TestAidlService"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="androidlab.aidl" />
            </intent-filter>
        </service>
    </application>

</manifest>