<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication" >
        <activity
            android:name=".TestBApp2Activity"
            android:exported="true"
            android:allowTaskReparenting="true">
            <intent-filter>
                <action android:name="testB" />

                <category android:name="android.intent.category.DEFAULT" />

                <data  android:scheme="lwj" android:host="com.test.b" android:path="/j" ></data>
            </intent-filter>
        </activity>
        <activity
            android:name=".TestBAppActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="testB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>